$width-xl: 1690px;
$width-lg: 1280px;
$width-md: 980px;
$width-sm: 736px;
$width-xs: 480px;

@mixin mq-min($width) {
    @media all and (min-width: $width) {
        @content;
    }
}

@mixin mq-max($width) {
    @media all and (max-width: $width) {
        @content;
    }
}